site_name: Vyacheslav's notes
#site_url: https://voronenko.info

plugins:
  - build_plantuml:
      render: "server"                             # "local" for local rendering
      bin_path: "plantuml"                         # ignored when render: server
      server: "http://www.plantuml.com/plantuml"   # offical plantuml server
      output_format: "svg"                         # or "png"
      diagram_root: "docs/diagrams"
      output_folder: "out"
      input_folder: "src"
  - exclude:
      glob:
        - diagrams/**/*.py
      regex:
        - '.*\.(tmp|bin|tar|template)$'
        - '\.ipynb_checkpoints'
  - macros
  - table-reader
  - mknotebooks:
      execute: false
      preamble: "preamble.py"
      write_markdown: true
  - autolinks
  - redirects:
#  - toc-sidebar
#      redirect_maps:
#          'old.md': 'new.md'
#          'old/file.md': 'new/file.md'
#          'some_file.md': 'http://external.url.com/foobar'
  - blog:
      pagination: true
  - mkdocs-simple-hooks:
#      hooks:
#        - hook-name: "your.module:hook_function"
  - tags
  - categories
# Configuration
theme:
  name: 'material'
  custom_dir: theme_overrides
#  logo: 'images/logo.svg'
  language: 'en'
#  custom_dir: overrides
  palette:
    primary: 'blue-grey'
    accent: 'light-blue'
  font:
    text: 'Ubuntu'
    code: 'Ubuntu Mono'

# Options

extra:
#  logo: 'images/download.svg'
  feature:
    tabs: false
# choose path at https://github.com/FortAwesome/Font-Awesome
# choose look at  https://fontawesome.com/icons/globe?s=solid&f=classic
  social:
    - icon: fontawesome/solid/globe
      link: https://www.voronenko.info
    - icon: fontawesome/brands/github-alt
      link: https://github.com/voronenko
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/slavko
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/voronenkovyacheslav/

markdown_extensions:
  - admonition
  - fenced_code
  - plantuml_markdown:
  - pymdownx.highlight:
      guess_lang: false
  - markdown.extensions.admonition
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - nl2br
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - toc:
      permalink: true

