                        <div class="detail" id="skills">
                            <div class="icon"><i class="fs-lg icon-tools"></i><span class="mobile-title">Skills</span>
                            </div>
                            <div class="info">
                                <h4 class="title text-uppercase">Skills</h4>
                                <div class="content">
                                    <ul class="list-unstyled clear-margin">
                                        <li class="card card-nested card-skills">
                                            <div class="skill-info"><strong>Software Project Management</strong>
                                                <div class="space-top labels"><span
                                                        class="label label-keyword">Requirements Analysis</span><span
                                                        class="label label-keyword">Software Design</span></div>
                                            </div>
                                        </li>
                                        <li class="card card-nested card-skills">
                                            <div class="skill-level" data-toggle="tooltip" title="Advanced"
                                                data-placement="left">
                                                <div class="skill-progress advanced"></div>
                                            </div>
                                            <div class="skill-info"><strong>DEVOPS</strong>
                                                <div class="space-top labels"><span
                                                        class="label label-keyword">Continious Integration</span><span
                                                        class="label label-keyword">Infrastructure</span><span
                                                        class="label label-keyword">Provisioning</span><span
                                                        class="label label-keyword">Cloud</span><span
                                                        class="label label-keyword">VM</span><span
                                                        class="label label-keyword">ESXi</span></div>
                                            </div>
                                        </li>
                                        <li class="card card-nested card-skills">
                                            <div class="skill-level" data-toggle="tooltip" title="Advanced"
                                                data-placement="left">
                                                <div class="skill-progress advanced"></div>
                                            </div>
                                            <div class="skill-info"><strong>cd/ci</strong>
                                                <div class="space-top labels"><span
                                                        class="label label-keyword">Jenkins</span><span
                                                        class="label label-keyword">GitLab</span><span
                                                        class="label label-keyword">CircleCI</span></div>
                                            </div>
                                        </li>
                                        <li class="card card-nested card-skills">
                                            <div class="skill-info"><strong>provisioning</strong>
                                                <div class="space-top labels"><span
                                                        class="label label-keyword">ansible</span><span
                                                        class="label label-keyword">chef</span><span
                                                        class="label label-keyword">shell</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card card-nested card-skills">
                                            <div class="skill-info"><strong>cloud</strong>
                                                <div class="space-top labels"><span
                                                        class="label label-keyword">aws</span><span
                                                        class="label label-keyword">digitalocean</span><span
                                                        class="label label-keyword">vps</span><span
                                                        class="label label-keyword">openshift</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="card card-nested card-skills">
                                            <div class="skill-info"><strong>containers</strong>
                                                <div class="space-top labels"><span
                                                        class="label label-keyword">docker</span><span
                                                        class="label label-keyword">swarm</span><span
                                                        class="label label-keyword">traefik</span><span
                                                        class="label label-keyword">ecs</span><span
                                                        class="label label-keyword">kubernetes</span><span
                                                        class="label label-keyword">k3s</span></div>
                                            </div>
                                        </li>
                                        <li class="card card-nested card-skills">
                                            <div class="skill-info"><strong>Client Stack</strong>
                                                <div class="space-top labels"><span
                                                        class="label label-keyword">javascript</span><span
                                                        class="label label-keyword">AngularJS</span><span
                                                        class="label label-keyword">unit-testing</span><span
                                                        class="label label-keyword">e2e</span></div>
                                            </div>
                                        </li>
                                        <li class="card card-nested card-skills">
                                            <div class="skill-info"><strong>Nodejs</strong>
                                                <div class="space-top labels"><span
                                                        class="label label-keyword">express</span><span
                                                        class="label label-keyword">restify</span></div>
                                            </div>
                                        </li>
                                        <li class="card card-nested card-skills">
                                            <div class="skill-info"><strong>MongoDB</strong>
                                                <div class="space-top labels"><span
                                                        class="label label-keyword">mongoose</span><span
                                                        class="label label-keyword">monitoring</span><span
                                                        class="label label-keyword">troubleshooting</span></div>
                                            </div>
                                        </li>
                                        <li class="card card-nested card-skills">
                                            <div class="skill-level" data-toggle="tooltip" title="Intermediate"
                                                data-placement="left">
                                                <div class="skill-progress intermediate"></div>
                                            </div>
                                            <div class="skill-info"><strong>.NET</strong>
                                                <div class="space-top labels"><span
                                                        class="label label-keyword">c#</span><span
                                                        class="label label-keyword">Razor</span><span
                                                        class="label label-keyword">SSRS</span><span
                                                        class="label label-keyword">asp.net MVC</span><span
                                                        class="label label-keyword">DI-ninject</span></div>
                                            </div>
                                        </li>
                                        <li class="card card-nested card-skills">
                                            <div class="skill-info"><strong>Random</strong>
                                                <div class="space-top labels"><span class="label label-keyword">Google
                                                        Closure</span><span class="label label-keyword">HTML5
                                                        gaming</span><span class="label label-keyword">HTML5</span><span
                                                        class="label label-keyword">InnoDB tuning</span><span
                                                        class="label label-keyword">T-SQL</span><span
                                                        class="label label-keyword">yii</span><span
                                                        class="label label-keyword">yii2</span><span
                                                        class="label label-keyword">lamp</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
