                        <div class="detail" id="work-experience">
                            <div class="icon"><i class="fs-lg icon-office"></i><span class="mobile-title">Work
                                    Experience</span>
                            </div>
                            <div class="info">
                                <h4 class="title text-uppercase">Work Experience</h4>
                                <ul class="list-unstyled clear-margin">
                                    <li class="card card-nested clearfix">
                                        <div class="content">
                                            <p class="clear-margin relative"><i class="icon-circle current-event"
                                                    rel="tooltip" title="Currently Working"
                                                    data-placement="left"></i><strong>Seasoned Software Engineer,
                                                    Project
                                                    Manager</strong>,&nbsp;<a href="https://www.voronenko.info"
                                                    target="_blank">Independent
                                                    Contractor</a></p>
                                            <p class="text-muted"><small><span class="space-right">Aug, 2014 -
                                                        Present</span></small></p>
                                            <div class="mop-wrapper space-bottom">
                                                <p>Cloud providers: Aws, Azure, OpenStack,
                                                    Digital ocean, Redhat Openshift</p>
                                                <p>DevOps: Ansible, OpsCode Chef (migration to ansible :))</p>
                                                <p>Pure JS stack: Javascript, Node.JS, MongoDB</p>
                                                <p>Client stack: plain javascript , AngularJS(1), HTML5 api's.</p>
                                                <p>Server-side stack: Windows (ASP.NET MVC), Python, LAMP, Go</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="card card-nested clearfix">
                                        <div class="content">
                                            <p class="clear-margin relative"><i class="icon-circle current-event"
                                                    rel="tooltip" title="Currently Working"
                                                    data-placement="left"></i><strong>Founder</strong>,&nbsp;<a
                                                    href="https://www.softasap.com/" target="_blank">Softasap</a></p>
                                            <p class="text-muted"><small><span class="space-right">Jul, 2014 -
                                                        Present</span></small></p>
                                            <div class="mop-wrapper space-bottom">
                                                <ul>
                                                    <li>Custom IT infrastructure: Implementation of the continuous
                                                        integration
                                                        processes basing on specific client needs
                                                    </li>
                                                    <li>Consulting: providing help with feasibility scans as well as
                                                        suggest
                                                        ideas on resolving issues. .
                                                    </li>
                                                    <li>Opensource proven devops recipes: We have opensourced list of
                                                        proven
                                                        recipes that streamline small IT business operations. This
                                                        includes, but
                                                        not limited to, workplaces configuration , securing remote
                                                        servers, build
                                                        server setup.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="card card-nested clearfix">
                                        <div class="content">
                                            <p class="clear-margin relative"><strong>Project
                                                    manager</strong>,&nbsp;Eleks</p>
                                            <p class="text-muted"><small><span class="space-right">Jun, 2012 - Aug,
                                                        2014</span><span><i class="icon-clock mr-5"></i>2 years 2
                                                        months</span></small></p>
                                            <div class="mop-wrapper space-bottom">
                                                <p>Set of projects related to Web, HTML 5,
                                                    high load, cloud deployment environment.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="card card-nested clearfix">
                                        <div class="content">
                                            <p class="clear-margin relative"><strong>Team leader</strong>,&nbsp;Eleks
                                            </p>
                                            <p class="text-muted"><small><span class="space-right">May, 2006 - May,
                                                        2012</span><span><i class="icon-clock mr-5"></i>6
                                                        years</span></small></p>
                                            <div class="mop-wrapper space-bottom">
                                                <p>I was focused on planning and executing
                                                    of<br>
                                                    set of small/medium size projects done by<br>
                                                    Web Solutions department.<br>
                                                    Lot of my efforts were spent on work coordination<br>
                                                    of the software developers team, help in building<br>
                                                    realistic work breakdown structure and estimates.</p>
                                                <p>Project architecture selection, evaluating alternatives.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="card card-nested clearfix">
                                        <div class="content">
                                            <p class="clear-margin relative"><strong>Software developer,
                                                    project manager</strong>,&nbsp;Eleks</p>
                                            <p class="text-muted"><small><span class="space-right">Apr, 1999 - May,
                                                        2006</span><span><i class="icon-clock mr-5"></i>7 years 1
                                                        month</span></small></p>
                                            <div class="mop-wrapper space-bottom">
                                                <p>Number of different projects
                                                    implemented in set of technologies. More details on request</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="card card-nested clearfix">
                                        <div class="content">
                                            <p class="clear-margin relative"><strong>Junior Software
                                                    Developer</strong>,&nbsp;Eleks</p>
                                            <p class="text-muted"><small><span class="space-right">Jul, 1997 - Apr,
                                                        1999</span><span><i class="icon-clock mr-5"></i>1 year 9
                                                        months</span></small></p>
                                            <div class="mop-wrapper space-bottom">
                                                <p>I was involved as a junior developer
                                                    into number of commercial projects developed at that moment.<br>
                                                    Business area: healthcare.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
