                        <div class="detail" id="interests">
                            <div class="icon"><i class="fs-lg icon-heart"></i><span
                                    class="mobile-title">Interests</span></div>
                            <div class="info">
                                <h4 class="title text-uppercase">Interests</h4>
                                <div class="content">
                                    <ul class="list-unstyled clear-margin">
                                        <li class="card card-nested">
                                            <p><strong>DevOps</strong></p>
                                            <div class="space-top labels"><span
                                                    class="label label-keyword">AWS</span><span
                                                    class="label label-keyword">Cloud</span></div>
                                        </li>
                                        <li class="card card-nested">
                                            <p><strong>Startups</strong></p>
                                            <div class="space-top labels"><span
                                                    class="label label-keyword">Culture</span><span
                                                    class="label label-keyword">RnD</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
