                <div class="card profile-card"><span class="profile-pic-container">
                        <div class="profile-pic"><img class="media-object img-circle center-block"
                                data-src="holder.js/100x100" alt="Vyacheslav"
                                src="https://avatars3.githubusercontent.com/u/701233?v=4" itemprop="image" /></div>
                        <div class="name-and-profession text-center">
                            <h3 itemprop="name"><b>Vyacheslav</b></h3>
                            <h5 class="text-muted" itemprop="jobTitle">Seasoned software engineer, with practical devops
                                and project management experience (PMP cert)</h5>
                        </div>
                    </span>
                    <hr />
                    <div class="contact-details clearfix">
                        <div class="detail"><span class="icon"><i class="icon fs-lg icon-phone"></i></span><span
                                class="info" itemprop="telephone">+44(56)0302-0608</span></div>
                        <div class="detail"><span class="icon"><i class="icon fs-lg icon-mail"></i></span><span
                                class="info">expertise-request [at] voronenko.info</span>
                        </div>
                        <div class="detail"><span class="icon"><i class="icon fs-lg icon-link"></i></span><span
                                class="info"><a href="http://www.voronenko.info"
                                    target="_blank">http://www.voronenko.info</a></span>
                        </div>
                        <div class="detail"><span class="icon" title="Languages I speak"><i
                                    class="icon fs-lg icon-language"></i></span><span class="info">English, Ukranian,
                                Polish, Russian</span>
                        </div>
                    </div>
                    <hr />
                    <div class="social-links text-center">
                        <div><a class="fs-2x social-link link-gitconnected icon-gitconnected"
                                href="https://gitconnected.com/Voronenko" target="_blank" data-toggle="tooltip"
                                title="Vyacheslav on gitconnected"></a><a
                                class="fs-2x social-link link-github icon-github" href="https://github.com/Voronenko"
                                target="_blank" data-toggle="tooltip" title="Vyacheslav on GitHub"></a><a
                                class="fs-2x social-link link-linkedin icon-linkedin"
                                href="https://www.linkedin.com/in/voronenkovyacheslav/" target="_blank"
                                data-toggle="tooltip" title="Vyacheslav on LinkedIn"></a><a
                                class="fs-2x social-link link-twitter icon-twitter" href="https://twitter.com/slavko"
                                target="_blank" data-toggle="tooltip" title="Vyacheslav on Twitter"></a><a
                                class="fs-2x social-link link-medium icon-medium" href="https://medium.com/@voronenko"
                                target="_blank" data-toggle="tooltip" title="Vyacheslav on Medium"></a><a
                                class="fs-2x social-link link-reddit icon-reddit"
                                href="https://www.reddit.com/user/voronenko" target="_blank" data-toggle="tooltip"
                                title="Vyacheslav on Reddit"></a><a
                                class="fs-2x social-link link-angellist icon-angellist"
                                href="https://angel.co/voronenko" target="_blank" data-toggle="tooltip"
                                title="Vyacheslav on AngelList"></a>
<!--
                            <button class="btn btn-default btn-sm btn-circle-sm pull-right js-profiles-collapse"
                                data-toggle="collapse" data-target="#remaining-profiles"><i
                                    class="icon-chevron-down fs-lg"></i></button>
                            <div class="collapse text-left" id="remaining-profiles"></div>
-->
                        </div>
                    </div>
                </div>
