                        <div class="detail" id="publications">
                            <div class="icon"><i class="fs-lg icon-newspaper"></i><span
                                    class="mobile-title">Publications</span>
                            </div>
                            <div class="info">
                                <h4 class="title text-uppercase">Publications</h4>
                                <div class="content">
                                    <ul class="list-unstyled clear-margin">

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/unobtrusive-local-development-with-kubernetes-k3s-traefik2-d203d4167369"
                                                            target="_blank">Unobtrusive local development with kubernetes, k3s, traefik2</a></strong></p>
                                                <p class="text-muted"><small>Published on: Apr 25, 2020</small></p>
                                                <div class="mop-wrapper">
                                                    <p>Running local kubernetes cluster with k3s, traefik2 and letsencrypt. This is followup to my local docker development environment described here https://github.com/Voronenko/traefik2-compose-template. In addition to classic dockerized projects, I also have number of...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/unobtrusive-local-development-with-traefik2-docker-and-letsencrypt-2d1944dd851f"
                                                            target="_blank">Unobtrusive local development with traefik2, docker and letsencrypt</a></strong></p>
                                                <p class="text-muted"><small>Published on: Apr 22, 2020</small></p>
                                                <div class="mop-wrapper">
                                                    <p>When it comes to developing sites that use subdomains, this can be a challenging or boring task to set up in development because localhost isn't a fully qualified domain name. You can't just goto...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/microservices-integrating-kong-api-gateway-with-auth0-authentication-provider-6b6a9f27a69a"
                                                            target="_blank">Microservices: integrating kong api gateway with Auth0 authentication provider</a></strong></p>
                                                <p class="text-muted"><small>Published on: Mar 29, 2020</small></p>
                                                <div class="mop-wrapper">
                                                    <p>I used to work with several startups recently. Authentication is present in any product you do. Authentication is not simple. Not hard in the development sense well-defined standards such as OAuth2...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/your-personal-knowledge-base-with-jupyterlab-cc22147ad56e"
                                                            target="_blank">Your personal knowledge base with JupyterLab</a></strong></p>
                                                <p class="text-muted"><small>Published on: Jun 9, 2019</small></p>
                                                <div class="mop-wrapper">
                                                    <p>Long long time ago I was using Evernote as a my personal knowledge base. I was collecting snippets of knowledge from my projects I was working on. One of the constant challenges was ensuring that I...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/wildcard-certificates-from-letsencrypt-on-aws-cloud-b49b144dc475"
                                                            target="_blank">Wildcard certificates from letsencrypt on aws cloud</a></strong></p>
                                                <p class="text-muted"><small>Published on: May 29, 2019</small></p>
                                                <div class="mop-wrapper">
                                                    <p>Article describes approach to generate wildcard certificates on aws route53 using credentials with limited scope. Full example with terraform and certbot /acme.sh steps.</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/sharing-sensitive-variables-between-ansible-and-terraform-9d3316a88b93"
                                                            target="_blank">Sharing sensitive variables between ansible and terraform</a></strong></p>
                                                <p class="text-muted"><small>Published on: Apr 6, 2019</small></p>
                                                <div class="mop-wrapper">
                                                    <p>Simple proof of concept, how to share some sensitive variables between terraform and ansible in a way that allows committing into git, while also being reasonably easy to decrypt, and be used...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/creating-parametrized-powershell-one-liners-1b3a5a26579b"
                                                            target="_blank">Creating parametrized PowerShell one-liners</a></strong></p>
                                                <p class="text-muted"><small>Published on: Feb 6, 2019</small></p>
                                                <div class="mop-wrapper">
                                                    <p>Coming from unix world, I really enjoy so-called one-liners - easy to remember commands that do some useful bootstrapping. That approach works pretty well on linux, thus when I have windows related...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/forwarding-mi-gateway-multicasts-from-remote-locations-cb8f01043aab"
                                                            target="_blank">Forwarding mi gateway multicasts from remote locations</a></strong></p>
                                                <p class="text-muted"><small>Published on: Jan 29, 2019</small></p>
                                                <div class="mop-wrapper">
                                                    <p>Actually, this article is the memory for myself. Article describes notes on setting up network infrastructure with remote xiaomi mi gateways, so the openhab will still receive multicasts with sensors...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/controlling-amazon-echo-dot-with-shell-a-bit-of-fun-546b36781797"
                                                            target="_blank">Controlling Amazon echo dot with shell: a bit of fun</a></strong></p>
                                                <p class="text-muted"><small>Published on: Sep 1, 2018</small></p>
                                                <div class="mop-wrapper">
                                                    <p>Quick overview illustrating possibility to send some commands, including text to speech to amazon echo devices without need to write custom Amazon skill, using either shell or nodejs</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/kubernetes-on-docker-for-windows-and-few-crocodiles-48944a5f9d5"
                                                            target="_blank">Kubernetes on docker for Windows and few crocodiles...</a></strong></p>
                                                <p class="text-muted"><small>Published on: Jun 27, 2018</small></p>
                                                <div class="mop-wrapper">
                                                    <p>POC on using kubernetes bundled with docker for windows as a quick alternative to minikube or minishift. We discuss how to expose cluster outside of windows localhost as well as how to deploy.</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/creating-kubernetes-cluster-with-aws-eks-7ec20db1842e"
                                                            target="_blank">Creating kubernetes cluster with AWS EKS</a></strong></p>
                                                <p class="text-muted"><small>Published on: Jul 13, 2018</small></p>
                                                <div class="mop-wrapper">
                                                    <p>AWS provides comprehensive guide to start with EKS, this article is generally implemented guide with terraform to get unattended installation of the kubernetes cluster happen.</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/generating-letsencrypt-wildcard-certificate-with-certbot-31890f23da00"
                                                            target="_blank">Generating letsencrypt wildcard certificate with certbot</a></strong></p>
                                                <p class="text-muted"><small>Published on: Mar 21, 2018</small></p>
                                                <div class="mop-wrapper">
                                                    <p>As you might know, letsencrypt ssl certificates officially reached production state, see https://community.letsencrypt.org/t/acme-v2-production-environment-wildcards/55578 . It is time to give it a...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/using-ansible-container-to-build-your-next-application-base-image-2385b2b49d3e"
                                                            target="_blank">Using ansible-container to build your next application base image</a></strong></p>
                                                <p class="text-muted"><small>Published on: Sep 20, 2017</small></p>
                                                <div class="mop-wrapper">
                                                    <p>Describes approach for the ansible-container to be used to construct and build application images in docker. In particular, choosing init system, running multiple services withing container.</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/documentation-as-a-project-574c00e05cb4"
                                                            target="_blank">Documentation as a project</a></strong></p>
                                                <p class="text-muted"><small>Published on: Mar 11, 2017</small></p>
                                                <div class="mop-wrapper">
                                                    <p>Quick knowledge sharing on approaches for project documentation. From personal use to dedicated documentation workflows. Outcomes: tooling suggestion, usage cases, documentation project bootstap.</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/approach-for-implementing-git-flow-releasing-model-8d37ea4764c"
                                                            target="_blank">Approach for implementing git-flow releasing model</a></strong></p>
                                                <p class="text-muted"><small>Published on: Jan 15, 2017</small></p>
                                                <div class="mop-wrapper">
                                                    <p>Perhaps most of developers are familiar with git-flow model, that makes release process controlled. In this article I would demonstrate one of approaches to introduce git-flow releasing in your...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/automating-ssl-encryption-for-your-servers-with-letsencrypt-and-ansible-e211c726f1c8"
                                                            target="_blank">Automating SSL encryption for your servers with LetsEncrypt and Ansible</a></strong></p>
                                                <p class="text-muted"><small>Published on: Dec 28, 2016</small></p>
                                                <div class="mop-wrapper">
                                                    <p>Lets Encrypt (http://www.letsencrypt.org/‎) - probably most known authority supplying free grean seal certificates. In this article I will share with you, how I make use of letsencrypt as a part of...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/jump-box-a917fce73e86"
                                                            target="_blank">Master jump box to access your network resources</a></strong></p>
                                                <p class="text-muted"><small>Published on: Dec 17, 2016</small></p>
                                                <div class="mop-wrapper">
                                                    <p>A jump server or jump host or jumpbox is a (special-purpose) computer on a network typically used to access devices in a separate security zone. The most common example is managing a host in a DMZ...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/quickly-add-your-github-keys-as-authorized-to-your-virtual-server-e8581cf06b41"
                                                            target="_blank">Quickly add your github keys as authorized to your virtual server</a></strong></p>
                                                <p class="text-muted"><small>Published on: Nov 10, 2016</small></p>
                                                <div class="mop-wrapper">
                                                    <p>As a software developer, I constantly work with a bunch of virtual environments used for testing. The first step I do - is switch from password ssh authorization to authorization by public key. AWS...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/make-your-development-environment-ready-while-you-drink-a-coffee-dc26e231ee8d"
                                                            target="_blank">Make Your Development Environment Ready While You Drink a Coffee</a></strong></p>
                                                <p class="text-muted"><small>Published on: Oct 19, 2016</small></p>
                                                <div class="mop-wrapper">
                                                    <p>As a contractor - software developer, I remaster my work environment often, depending on project requirements. Depending on NDA, sometimes I work remotely on provided boxes. It is important for me to...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/storing-tree-like-hierarchy-structures-with-mongodb-part-2-bf35ad1f25ef"
                                                            target="_blank">Storing Tree like Hierarchy Structures With MongoDB, Part 2</a></strong></p>
                                                <p class="text-muted"><small>Published on: Oct 16, 2016</small></p>
                                                <div class="mop-wrapper">
                                                    <p>In real life almost any project deals with the tree structures. Different kinds of taxonomies, site structures etc require modelling of hierarchy relations. In this article I will illustrate using...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/storing-tree-like-hierarchy-structures-with-mongodb-4f97b7bee472"
                                                            target="_blank">Storing Tree like Hierarchy Structures With MongoDB</a></strong></p>
                                                <p class="text-muted"><small>Published on: Oct 16, 2016</small></p>
                                                <div class="mop-wrapper">
                                                    <p>In a real life almost any project deals with the tree structures. Different kinds of taxonomies, site structures etc require modeling of hierarchy relations. In this article I will illustrate using...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/deploying-ruby-application-with-ansible-82a1ed8b97be"
                                                            target="_blank">Deploying ruby application with ansible</a></strong></p>
                                                <p class="text-muted"><small>Published on: Oct 14, 2016</small></p>
                                                <div class="mop-wrapper">
                                                    <p>Nowadays, you can get your own dedicated server up and running in a seconds. Once you get it up, do you really spent several hours to configure it for your application needs ? Do you really want to...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/automating-network-mastering-scenarios-for-amazon-vpc-db3133a5f33f"
                                                            target="_blank">Automating network mastering scenarios for Amazon VPC</a></strong></p>
                                                <p class="text-muted"><small>Published on: Feb 27, 2016</small></p>
                                                <div class="mop-wrapper">
                                                    <p>For a long time Amazon Web Services is one of the most often used platforms to deploy and run new projects. For more complex project you usually start with mastering your network infrastructure...</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin"><strong><a
                                                            href="https://medium.com/@V_Voronenko/google-two-step-authentication-in-debug-1621a4dc4013"
                                                            target="_blank">Google two step authentication - in debug</a></strong></p>
                                                <p class="text-muted"><small>Published on: Dec 2, 2012</small></p>
                                                <div class="mop-wrapper">
                                                    <p>Have you have enabled your Google account for two step authentication? If not - I strongly recommend to do so. Do you know the nature of the code generated by Google Authenticator? There are no myths...</p>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>