                        <div class="detail" id="work-experience">
                            <div class="icon"><i class="fs-lg icon-office"></i><span class="mobile-title">Work
                                    Experience</span>
                            </div>
                            <div class="info">
                                <h4 class="title text-uppercase">Work Experience</h4>
                                <ul class="list-unstyled clear-margin">
{% for w in resume.work %}
{% if w.isCurrentRole %}
                                    <li class="card card-nested clearfix">
                                        <div class="content">
                                            <p class="clear-margin relative"><i class="icon-circle current-event"
                                                    rel="tooltip" title="Currently Working"
                                                    data-placement="left"></i><strong>{{ w.position }}</strong>,&nbsp;<a
                                                    href="{{ w.website }}" target="_blank">{{ w.company }}</a></p>
                                            <p class="text-muted"><small><span class="space-right">{{ w.start.month | month3 }}, {{ w.start.year }} -
                                                        Present</span></small></p>
                                            <div class="mop-wrapper space-bottom">
                                                <p>{{ w.summary | frommarkdown }}</p>
                                            </div>
                                        </div>
                                    </li>
{% else %}
                                    <li class="card card-nested clearfix">
                                        <div class="content">
                                            <p class="clear-margin relative"><strong>{{ w.position }}</strong>,&nbsp;{{ w.company }}</p>
                                            <p class="text-muted"><small><span class="space-right">{{ w.start.month | month3 }}, {{ w.start.year }} - {{ w.end.month | month3 }}, {{ w.end.year }}</span></small></p>
                                            <div class="mop-wrapper space-bottom">
                                                <p>{{ w.summary | frommarkdown }}</p>
                                            </div>
                                        </div>
                                    </li>
{% endif %}
{% endfor %}
                                </ul>
                            </div>
                        </div>
