                        <div class="detail" id="education">
                            <div class="icon"><i class="fs-lg icon-graduation-cap"></i><span
                                    class="mobile-title">Education</span>
                            </div>
                            <div class="info">
                                <h4 class="title text-uppercase">Education</h4>
                                <div class="content">
                                    <ul class="list-unstyled clear-margin">

                                        <li class="card card-nested">
                                            <div class="content">
                                                <p class="clear-margin relative"><strong>Applied Mathematics, Software Development, Master's degree</strong>
                                                Lviv Polytechnic National University</p>
                                                <p class="text-muted clear-margin"><small>Sep, 1994 - Apr, 1999</small>
                                                </p>
                                                <i></i>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>