name: build and deploy mkdocs to github pages

on:
  push:
    branches:
      - master
      - mkdocs-update

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          architecture: 'x64'

      - name: Install pipx and poetry
        run: |
          python -m pip install --upgrade pip
          pip install pipx
          pipx install poetry
          pipx inject poetry poetry-plugin-export
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Cache poetry dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/poetry
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Configure poetry
        run: |
          poetry config virtualenvs.create true
          poetry config cache-dir ~/.cache/poetry

      - name: Install dependencies
        run: |
          poetry install --with dev
          source $(poetry env info --path)/bin/activate
          echo "VIRTUAL_ENV=$(poetry env info --path)" >> $GITHUB_ENV
          echo "$(poetry env info --path)/bin" >> $GITHUB_PATH

      - name: Setup plantuml with deps
        run:  DEBIAN_FRONTEND=noninteractive sudo apt-get -yq install plantuml graphviz

      - name: Install dependencies
        run: poetry install --no-interaction --no-root

      - name: Build site
        run: poetry run mkdocs build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3.9.0
        with:
          publish_dir: ./site
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
