name: build and deploy mkdocs to github pages

on:
  push:
    branches:
      - master
      - mkdocs-update

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          architecture: 'x64'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: latest
          virtualenvs-create: true
          virtualenvs-in-project: true

      - uses: actions/cache@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
          path: .venv

      - name: Setup plantuml with deps
        run:  DEBIAN_FRONTEND=noninteractive sudo apt-get -yq install plantuml graphviz

      - name: Install dependencies
        run: poetry install --no-interaction --no-root

      - name: Build site
        run: poetry run mkdocs build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3.9.0
        with:
          publish_dir: ./site
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
